* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

body {
  padding: 0 130px;
}

/* nav section style  */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

nav h2 {
  font-size: 24px;
  font-weight: 700;
}

/* hero-container style  */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0;
}

.hero-content button {
  padding: 10px 20px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  color: white;
  font-size: 1rem;
  width: 700;
  border: none;
}

.hero-banner img {
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* logo section style  */
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
}

/* popular collection style  */
.card {
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.star {
  color: rgb(251, 130, 0);
}

.rating {
  margin: 10px 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.popular-container > h2 {
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 28px;
  font-weight: 600;
}


/* featured products style  */
.featured-container{
    margin: 80px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.featured-container h2{
    font-size: 2rem;
    font-weight: 700;
}

.featured-container p{
    margin: 10px 0;
    font-weight: 600px;
}

.featured-container button {
    padding: 8px 16px;
    border-radius: 5px;
    background: rgb(224, 44, 109);
    color: white;
    font-size: 1rem;
    width: 700;
    border: none;
  }